In [14]:
# Import our dependencies
import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn as skl
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
# Import the dataset
world_pop = pd.read_csv('Resources/pop_worldometer_data.csv')
world_pop.head(10)

,Country (or dependency),Population (2020),Yearly Change %,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share %
0,China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38.0,61.0,18.47
1,India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28.0,35.0,17.70
2,United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38.0,83.0,4.25
3,Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30.0,56.0,3.51
4,Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23.0,35.0,2.83
5,Brazil,212559417,0.72,1509890,25,8358140,21200.0,1.7,33.0,88.0,2.73
6,Nigeria,206139589,2.58,5175990,226,910770,-60000.0,5.4,18.0,52.0,2.64
7,Bangladesh,164689383,1.01,1643222,1265,130170,-369501.0,2.1,28.0,39.0,2.11
8,Russia,145934462,0.04,62206,9,16376870,182456.0,1.8,40.0,74.0,1.87
9,Mexico,128932753,1.06,1357224,66,1943950,-60000.0,2.1,29.0,84.0,1.65

In [3]:
world_pop = world_pop.drop(["Country (or dependency)"], axis=1)

In [4]:
world_pop.head()

,Population (2020),Yearly Change %,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share %
0,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38.0,61.0,18.47
1,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28.0,35.0,17.70
2,331002651,0.59,1937734,36,9147420,954806.0,1.8,38.0,83.0,4.25
3,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30.0,56.0,3.51
4,220892340,2.00,4327022,287,770880,-233379.0,3.6,23.0,35.0,2.83

In [18]:
world_pop.dtypes

Population (2020)      int64
Yearly Change %      float64
Net Change             int64
Density (P/Km²)        int64
Land Area (Km²)        int64
Migrants (net)       float64
Fert. Rate           float64
Med. Age             float64
Urban Pop %          float64
World Share %        float64
dtype: object

In [20]:
world_pop = world_pop.dropna()

In [21]:
# Remove 'Net Change' target from features data
y = world_pop["Net Change"]
X = world_pop.drop(['Net Change'], axis=1)

In [24]:
X.head()

,Population (2020),Yearly Change %,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share %
0,1439323776,0.39,153,9388211,-348399.0,1.7,38.0,61.0,18.47
1,1380004385,0.99,464,2973190,-532687.0,2.2,28.0,35.0,17.70
2,331002651,0.59,36,9147420,954806.0,1.8,38.0,83.0,4.25
3,273523615,1.07,151,1811570,-98955.0,2.3,30.0,56.0,3.51
4,220892340,2.00,287,770880,-233379.0,3.6,23.0,35.0,2.83

In [26]:
X.shape

(172, 9)

In [28]:
y.shape
print(y)

0       5540090
1      13586631
2       1937734
3       2898047
4       4327022
         ...
195         351
196         452
197        1201
199         608
200         811
Name: Net Change, Length: 172, dtype: int64

In [29]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y,)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Use multilinear regression