In [1]:
#invite people for the Kaggle party
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
import sklearn as skl
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
world_pop = pd.read_csv('Resources/pop_worldometer_data.csv')
world_pop.head(10)

,Country (or dependency),Population (2020),Yearly Change %,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share %
0,China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38.0,61.0,18.47
1,India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28.0,35.0,17.70
2,United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38.0,83.0,4.25
3,Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30.0,56.0,3.51
4,Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23.0,35.0,2.83
5,Brazil,212559417,0.72,1509890,25,8358140,21200.0,1.7,33.0,88.0,2.73
6,Nigeria,206139589,2.58,5175990,226,910770,-60000.0,5.4,18.0,52.0,2.64
7,Bangladesh,164689383,1.01,1643222,1265,130170,-369501.0,2.1,28.0,39.0,2.11
8,Russia,145934462,0.04,62206,9,16376870,182456.0,1.8,40.0,74.0,1.87
9,Mexico,128932753,1.06,1357224,66,1943950,-60000.0,2.1,29.0,84.0,1.65

In [3]:
world_pop = world_pop.drop(["Country (or dependency)"], axis=1)

In [4]:
world_pop = world_pop.dropna()
world_pop.head()

,Population (2020),Yearly Change %,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share %
0,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38.0,61.0,18.47
1,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28.0,35.0,17.70
2,331002651,0.59,1937734,36,9147420,954806.0,1.8,38.0,83.0,4.25
3,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30.0,56.0,3.51
4,220892340,2.00,4327022,287,770880,-233379.0,3.6,23.0,35.0,2.83

In [5]:
# Remove 'Yearly Change %' target from features data

y = world_pop['Yearly Change %']
X = world_pop.drop(['Yearly Change %'], axis=1)

In [6]:
y

0      0.39
1      0.99
2      0.59
3      1.07
4      2.00
       ...
195    0.32
196    0.43
197    1.15
199    0.62
200    0.84
Name: Yearly Change %, Length: 172, dtype: float64

In [7]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y,)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
print(X_train)

     Population (2020)  Net Change  Density (P/Km²)  Land Area (Km²)  \
64            18383955      522925               25           743390
76            12123200      322049              108           112760
180             307145        7263               25            12190
23            59734218     1728755               67           885800
28            50882891      543448               46          1109500
..                 ...         ...              ...              ...
114            5792202       20326              137            42430
143            2416668       68962              239            10120
104            7275560      106105               32           230800
100            8654622       63257              219            39516
138            2881053       48986              248            11610

     Migrants (net)  Fert. Rate  Med. Age  Urban Pop %  World Share %
64          -8000.0         4.7      18.0         45.0           0.24
76          -2000.0         4.9      19.0         48.0           0.16
180           120.0         3.8      21.0         24.0           0.00
23         -40076.0         4.9      18.0         37.0           0.77
28         204796.0         1.8      31.0         80.0           0.65
..              ...         ...       ...          ...            ...
114         15200.0         1.8      42.0         88.0           0.07
143         -3087.0         5.3      18.0         59.0           0.03
104        -14704.0         2.7      24.0         36.0           0.09
100         52000.0         1.5      43.0         74.0           0.11
138         40000.0         1.9      32.0         96.0           0.04

[129 rows x 9 columns]

In [19]:
X_train['Fert. Rate'].dtypes

dtype('float64')

In [20]:
y_train.dtypes

dtype('float64')

In [8]:
print(len(X_train_scaled))
print(len(X_test_scaled))

129
43

In [9]:
# Define linear regression model
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

lin_classifier = LinearRegression()

# Train the model
lin_classifier.fit(X_train_scaled,y_train)

# Evaluate the model
y_pred = lin_classifier.predict(X_test)
print(f" Mean Squared Error: {mean_squared_error(y_test,y_pred):.3f}")

 Mean Squared Error: 24384459950419222528.000

In [27]:
# Define basic neural network model

from keras.models import Sequential
nn_model = Sequential()
nn_model.add(tf.keras.layers.Dense(9, input_dim=9, kernel_initializer='normal', activation='relu'))
nn_model.add(tf.keras.layers.Dense(1, kernel_initializer='normal'))
# Compile model
nn_model.compile(loss='mean_squared_error', optimizer='adam')
y_pred = nn_model.predict(X_test)
# print(f" Mean Squared Error: {mean_squared_error(y_test,y_pred):.3f}")
y_train

64     2.93
76     2.73
180    2.42
23     2.98
28     1.08
       ...
114    0.35
143    2.94
104    1.48
100    0.74
138    1.73
Name: Yearly Change %, Length: 129, dtype: float64

In [26]:
from sklearn import preprocessing
from sklearn import utils

lab_enc = preprocessing.LabelEncoder()
encoded = lab_enc.fit_transform(y_train)
encoded

array([101,  95,  82, 103,  45,  13,  39, 108,  52,  49,  89,  70,  72,
        88,  15,  67, 104,  47,  73,  36,   5,  75,  59,  73,  32,  74,
        42,  78,  63,  22,  21,  77,  66,  12,  97,  89,  94,  99,  96,
         6,  48,  81,  28, 107,  98,  59,   8,  34,  54,  56,  39,  52,
        28,  60,  41,  17,  19,   1,  20,  61,  13,  71,  90,  85,  55,
        57, 105,  14,  40,  76,  18, 100,  25,  80,  64,  62,  87,  37,
        61,  29,   7,  43,  19,   8,  43,   9,  35,  91,  11,  46,  92,
        65,   3,  53,  44,  84,  79,  16,  10,  93,  86,  56,  83,   0,
        58,  50,  82,  27,  38,  90,  23,   2,  37,   2,  39,  26,   4,
        33, 106,  29,  68,  31,  24,  51,  14, 102,  61,  30,  69],
      dtype=int64)

In [33]:
 # Try RandomForestClassifier
    
from sklearn.ensemble import RandomForestRegressor  

# Create a random forest classifier.
rf_model = RandomForestRegressor(n_estimators=128, random_state=78)

64     2.93
76     2.73
180    2.42
23     2.98
28     1.08
       ...
114    0.35
143    2.94
104    1.48
100    0.74
138    1.73
Name: Yearly Change %, Length: 129, dtype: float64

In [34]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

RandomForestRegressor(n_estimators=128, random_state=78)

In [36]:
# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Mean Squared Error: {mean_squared_error(y_test,y_pred):.3f}")

 Mean Squared Error: 0.248

In [37]:
y_test

59     3.02
188    0.46
119    2.65
200    0.84
195    0.32
190    0.89
1      0.99
39     1.20
25     0.67
21     0.22
79     1.39
145    2.45
168    1.66
97     1.95
167    0.01
122    2.44
159    1.48
115    0.15
45     2.93
78     1.06
46     2.15
171    1.10
137    0.44
31     0.93
152    3.47
24     1.28
189    0.93
94     2.32
162    2.20
155    1.96
40     1.59
43     3.27
102    2.10
47     2.28
96     0.57
2      0.59
163    0.48
32     1.85
169    2.55
110    1.69
144    2.08
84     1.01
55     3.84
Name: Yearly Change %, dtype: float64

In [39]:
y_pred

array([2.86601563, 0.45226562, 1.51601562, 0.5403125 , 0.66875   ,
       1.04132812, 1.74664063, 1.2865625 , 1.22171875, 0.43265625,
       1.50421875, 2.22203125, 0.42296875, 1.96070312, 0.4696875 ,
       2.43289063, 1.241875  , 0.56140625, 2.8884375 , 1.02382812,
       2.14664062, 1.0484375 , 0.90460938, 1.36320312, 2.19460937,
       1.42984375, 0.24453125, 1.92398438, 2.32304688, 2.22335937,
       1.34390625, 2.97507812, 2.46265625, 2.30976562, 0.30070312,
       0.77609375, 1.15664063, 1.39578125, 1.40203125, 1.47664062,
       1.48960938, 1.22601562, 3.06859375])

In [41]:
X_test

,Population (2020),Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share %
59,20250833,592802,17,1220190,-40000.0,5.9,16.0,44.0,0.26
188,183627,837,301,610,0.0,1.4,34.0,19.0,0.00
119,5106626,131640,16,309500,87400.0,2.9,31.0,87.0,0.07
200,97929,811,223,440,0.0,2.0,34.0,26.0,0.00
195,110940,351,284,390,-200.0,1.9,33.0,53.0,0.00
190,168775,1481,313,540,-506.0,2.3,31.0,95.0,0.00
1,1380004385,13586631,464,2973190,-532687.0,2.2,28.0,35.0,17.70
39,36910560,438791,83,446300,-51419.0,2.4,30.0,64.0,0.47
25,54409800,364380,83,653290,-163313.0,2.2,29.0,31.0,0.70
21,65273511,143783,119,547557,36527.0,1.9,42.0,82.0,0.84
79,11673021,159921,11,1083300,-9504.0,2.8,26.0,69.0,0.15
145,2225734,53155,9,257670,3260.0,4.0,23.0,87.0,0.03
168,625978,10249,242,2590,9741.0,1.5,40.0,88.0,0.01
97,8947024,170915,20,452860,-800.0,3.6,22.0,13.0,0.11
167,628066,79,47,13450,-480.0,1.8,39.0,68.0,0.01
122,5057681,120307,53,96320,-5000.0,4.4,19.0,53.0,0.06
159,988000,14440,43,23180,900.0,2.8,27.0,79.0,0.01
115,5540720,8564,18,303890,14000.0,1.5,43.0,86.0,0.07
45,31255435,889399,40,786380,-5000.0,4.9,18.0,38.0,0.40
78,11818619,123900,76,155360,-4000.0,2.2,33.0,70.0,0.15
46,31072940,655084,137,227540,-10000.0,3.9,22.0,57.0,0.40
171,555987,6052,138,4030,-1342.0,2.3,28.0,68.0,0.01
137,2961167,12888,273,10830,-11332.0,2.0,31.0,55.0,0.04
31,45195774,415097,17,2736690,4800.0,2.3,32.0,93.0,0.58
152,1402985,46999,50,28050,16000.0,4.6,22.0,73.0,0.02
24,59308690,750420,49,1213090,145405.0,2.4,28.0,67.0,0.76
189,173863,1604,915,190,1351.0,1.5,43.0,30.0,0.00
94,9537645,216627,68,139960,-20000.0,3.6,22.0,27.0,0.12
162,869601,18715,467,1861,-2000.0,4.2,20.0,29.0,0.01
155,1318445,25326,89,14870,-5385.0,4.1,21.0,33.0,0.02
40,34813871,545343,16,2149690,134979.0,2.3,32.0,84.0,0.45
43,32866272,1040977,26,1246700,6413.0,5.6,17.0,67.0,0.42
102,7976983,163768,111,72180,-4200.0,4.3,19.0,43.0,0.10
47,29825964,664042,56,527970,-30000.0,3.8,20.0,38.0,0.38
96,9006398,51296,109,82409,65000.0,1.5,43.0,57.0,0.12
2,331002651,1937734,36,9147420,954806.0,1.8,38.0,83.0,4.25
163,786552,3786,4,196850,-6000.0,2.5,27.0,27.0,0.01
32,43851044,797990,18,2381740,-10000.0,3.1,29.0,73.0,0.56
169,597339,14876,2,266000,5582.0,2.4,28.0,87.0,0.01
110,6524195,108345,34,191800,-4000.0,3.0,26.0,36.0,0.08
144,2351627,47930,4,566730,3000.0,2.9,24.0,73.0,0.03
84,10847910,108952,225,48320,-30000.0,2.4,28.0,85.0,0.14
55,24206644,895929,19,1266700,4000.0,7.0,15.0,17.0,0.31