In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
import sklearn as skl
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
world_pop = pd.read_csv('Resources/pop_worldometer_data.csv')
world_pop.head(10)

,Country (or dependency),Population (2020),Yearly Change %,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share %
0,China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38.0,61.0,18.47
1,India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28.0,35.0,17.70
2,United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38.0,83.0,4.25
3,Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30.0,56.0,3.51
4,Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23.0,35.0,2.83
5,Brazil,212559417,0.72,1509890,25,8358140,21200.0,1.7,33.0,88.0,2.73
6,Nigeria,206139589,2.58,5175990,226,910770,-60000.0,5.4,18.0,52.0,2.64
7,Bangladesh,164689383,1.01,1643222,1265,130170,-369501.0,2.1,28.0,39.0,2.11
8,Russia,145934462,0.04,62206,9,16376870,182456.0,1.8,40.0,74.0,1.87
9,Mexico,128932753,1.06,1357224,66,1943950,-60000.0,2.1,29.0,84.0,1.65

In [3]:
world_pop = world_pop.drop(["Country (or dependency)"], axis=1)

In [4]:
world_pop = world_pop.dropna()
world_pop.head()

,Population (2020),Yearly Change %,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share %
0,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38.0,61.0,18.47
1,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28.0,35.0,17.70
2,331002651,0.59,1937734,36,9147420,954806.0,1.8,38.0,83.0,4.25
3,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30.0,56.0,3.51
4,220892340,2.00,4327022,287,770880,-233379.0,3.6,23.0,35.0,2.83

In [5]:
# Remove 'Yearly Change %' target from features data

y = world_pop['Yearly Change %']
X = world_pop.drop(['Yearly Change %'], axis=1)

In [6]:
y

0      0.39
1      0.99
2      0.59
3      1.07
4      2.00
       ...
195    0.32
196    0.43
197    1.15
199    0.62
200    0.84
Name: Yearly Change %, Length: 172, dtype: float64

In [7]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y,)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
print(X_train)

     Population (2020)  Net Change  Density (P/Km²)  Land Area (Km²)  \
179             341243        2212                3           100250
188             183627         837              301              610
20            67886011      355839              281           241930
56            23816775       42899              673            35410
136            2963243        5512              104            28470
..                 ...         ...              ...              ...
41            33469203      487487               79           425400
59            20250833      592802               17          1220190
152            1402985       46999               50            28050
76            12123200      322049              108           112760
66            17643054      269392               71           248360

     Migrants (net)  Fert. Rate  Med. Age  Urban Pop %  World Share %
179           380.0         1.8      37.0         94.0           0.00
188             0.0         1.4      34.0         19.0           0.00
20         260650.0         1.8      40.0         83.0           0.87
56          30001.0         1.2      42.0         79.0           0.31
136         -4998.0         1.8      35.0         63.0           0.04
..              ...         ...       ...          ...            ...
41          -8863.0         2.4      28.0         50.0           0.43
59         -40000.0         5.9      16.0         44.0           0.26
152         16000.0         4.6      22.0         73.0           0.02
76          -2000.0         4.9      19.0         48.0           0.16
66          36400.0         2.4      28.0         63.0           0.23

[129 rows x 9 columns]

In [9]:
X_train['Fert. Rate'].dtypes

dtype('float64')

In [10]:
y_train.dtypes

dtype('float64')

In [11]:
print(len(X_train_scaled))
print(len(X_test_scaled))

129
43

In [12]:
# Define linear regression model
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

lin_classifier = LinearRegression()

# Train the model
lin_classifier.fit(X_train_scaled,y_train)

# Evaluate the model
y_pred = lin_classifier.predict(X_test)
print(f" Mean Squared Error: {mean_squared_error(y_test,y_pred):.3f}")

 Mean Squared Error: 2067602098484329728.000

In [18]:
# Define basic neural network model

from keras.models import Sequential
nn_model = Sequential()
nn_model.add(tf.keras.layers.Dense(9, input_dim=9, kernel_initializer='normal', activation='relu'))
nn_model.add(tf.keras.layers.Dense(1, kernel_initializer='normal'))
# Compile model
nn_model.compile(loss='mean_squared_error', optimizer='adam')
y_pred = nn_model.predict(X_test)
print(f" Mean Squared Error: {mean_squared_error(y_test,y_pred):.3f}")

 Mean Squared Error: 133250114534.032

In [14]:
from sklearn import preprocessing
from sklearn import utils

lab_enc = preprocessing.LabelEncoder()
encoded = lab_enc.fit_transform(y_train)
encoded

array([ 22,  16,  18,   8,   9,  58,  21,  94,  98,  39,  10,  33,  40,
        44,  52,  60,  28,  78,   0,  33, 100,  41,  72,  73,  50,  93,
        59,  64,  32,  76,   3,  79,  77,  49,  71,  24,  23,  91,  66,
        85,   2,  88,  30,  42,  87,  56,  36,  53,  67,  89,  68,  19,
        34,   1,  43,  80,  92,   6,  10,  29,  48,  86, 108,  65,  90,
        51,   7,  74,  15, 105,  12,  38,  47,  27,  63,  36,  84,  83,
       102,  59, 109,  81,  20,  71,   4,  99,  81,  23,  49,  95,  26,
        14,  11,  17,  36,  69,  89,  54,  16,  25,  15,  54,  57,  31,
        97,  37, 101,  13,  80,  62,  70,  35,  41,  75,   5,  15,  39,
       106,  55,  13,  82, 104,  46,  45,  59, 103, 107,  96,  61],
      dtype=int64)

In [15]:
 # Try RandomForestRegressor
    
from sklearn.ensemble import RandomForestRegressor  

# Create a random forest regressor.
rf_model = RandomForestRegressor(n_estimators=128, random_state=78)

In [16]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [17]:
# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Mean Squared Error: {mean_squared_error(y_test,y_pred):.3f}")

 Mean Squared Error: 0.164